* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

.SamuelPic {
    width: 33px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.Samuel {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:hsl(293, 100%, 63%);
    color: #fff;
    height: 100px;
}
.Samuel i {
    margin-left: 300px;
}