*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}
#image{
    border:3px solid #ff0000;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons{
    display: flex;
    gap: 140px;
}