*{
    margin: 0;
    padding: 0;
    background-origin: padding-box;
}

body{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.main{
    /* background-color: hsl(213, 19%, 25%); */
    background-color: hsl(213, 19%, 18%);
    width:30%;
    height: 60%;
    border-radius:10px;
    padding: 20px;
}
.star{
    background-color:hsl(216, 12%, 8%);
    border: none;
    padding: 7px;
    border-radius: 50%;
    display: block;
}
.btns button{
    /* background-color: hsl(213, 19%, 18%); */
    background-color: hsl(213, 19%, 25%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    color: #fff;
    transition: 0.5s;
}
.btns{
    display: flex;
    gap: 30px;
    margin-left: 17px;
    margin-top: 50px;
}
.btns button:hover{
    background-color:hsl(25, 97%, 53%);
    transition: 0.5s;
    cursor: pointer;
}

#second-div{
    display: none;
}
#second-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color:hsl(213, 19%, 18%) ;
    width:30%;
    height: 60%;
    padding: 15px;
    border-radius: 10px;
}
#second-div img{
    width: 45%;
    padding-bottom: 30px;
}
#out{
    color: orange;
    background-color:hsl(213, 19%, 25%);
    border-radius: 10px;
    padding: 4px;
}
.state{
    text-align: center;
}