body {
    background-color: #0B1210;
    font-family: "Arimo", sans-serif;
    height: auto;
}

header {
    width: auto;
    height: 100px;
    position: sticky;
    top: 0;
    background: #101916;
    z-index: 1000;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Navigator {
    display: flex;
    gap: 30px;

}

.Navigator a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    transition: 0.3s;
}

.Navigator a:hover {
    color: #1bda9b;
    text-shadow: 1px 0px 2px;
    transition: 0.3s;
}

.GoaLogo img {
    width: 200px;
}

.login {
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa-hand-holding-dollar {
    margin-bottom: 5px;
}

.GOAMMAPhoto{
    width: 600px;
}

.Contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-side input{
    border-radius: 15px;
    height: 30px;
    border: none;
}
button{
    width: 50%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color:blueviolet;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(126, 7, 237);
    transform: scale(105%);
    transition: 0.5s;
}


footer{
    color: #fff;
    margin-top: 10%;
}

.everything{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #101916;
}
.pagesNavigation{
    display: flex;
    flex-direction: column;
    font-size: 25px;

}
.pagesNavigation a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.socialMedia{
    font-size: 25px;
}
.socialMedia p {
    margin-top: 10px;
}
.fa-bars{
    display: flex;
    color: #fff;
    cursor: pointer;
}